# Name: Particle track and Analysis
# PTA Particle Track and Analysis Copyright (2010) Yoshiyuki Arai. All rights reserved.
# This product includes software developed by the University of Chicago, as Operator of Argonne National Laboratory.
# Minpack Copyright Notice (1999) University of Chicago.  All rights reserved\\
# This software incorporates JFreeChart, (C)opyright 2000-2009 by Object Renery Limited and Contributors.
 

# Description:
# An ImageJ Plugin for to track the particles
# This plugins uses cminpack library to do 2dimensional Gaussian fittings

# Author: Yoshiyuki Arai
# Date 10/12/2010
# Requires: ImageJ 1.43g or later

Plugins>PTA, "PTA:Particle Track and Analysis (ver 1.2)", pta.PTA
Plugins>PTA, "CaptImage:Capture Images WYSIWYG", pta.capture.CaptureImageStack
Plugins>PTA, "About PTA...", pta.AboutPTA
